.slide {
  max-width: 1000px;
  min-height: 250px;
  position: relative;
  margin: auto;
}

.mySlidesRaces {
  display: none;
  top: 50%;
  left: 50%;
}
.mySlidesClass {
  display: none;
  top: 50%;
  left: 50%;
}

.SlideImg {
  height: 20em;
  margin-left: 30%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #EEE;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  margin: auto;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: #363636;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dotRace {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotClass {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}